<html>
	<head>
		<script type="text/javascript" src="jquery-3.3.1.slim.min.js"></script>
		<script charset="utf-8"
        	src="https://cdn.ethers.io/scripts/ethers-v3.min.js"
            type="text/javascript"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		{{!-- <script src="/public/scripts/socket.io.js"></script> --}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"> </script>
		
    </head>
    

	<body>
        {{{body}}}
		
	</body>
</html>