<html>
	<head>
		<script type="text/javascript" src="jquery-3.3.1.slim.min.js"></script>
		<script charset="utf-8"
        	src="https://cdn.ethers.io/scripts/ethers-v3.min.js"
            type="text/javascript"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		
    </head>
    

	<body>
        {{{body}}}
		
	</body>
</html>